apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: redis
    tier: backend
    autor: rolando
  name: redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
      tier: backend
      autor: rolando
  template:
    metadata:
      labels:
        app: redis
        tier: backend
        autor: rolando
    spec:
      containers:
      - image: harbor.101si.ar/pin/redis:alpine
        name: redis
        ports:
        - containerPort: 6379
          name: redis
        volumeMounts:
        - mountPath: /data
          name: redis-data
      volumes:
      - name: redis-data
        emptyDir: {} 